{% extends "base.html" %}

{% block content %}
  <h1>Tags List</h1>
  <br>
  <a href="{% url 'todo_list:tag_create' %}" class="btn btn-primary link-to-page">Add tag</a>
  <br>
  <br>
  {% if tags %}
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for tag in tags %}
        <tr>
          <td>{{ tag.name }}</td>
          <td><a href="{% url 'todo_list:tag_update' pk=tag.id %}" class="btn btn-secondary link-to-page">Update</a></td>
          <td><a href="{% url 'todo_list:tag_delete' pk=tag.id %}" class="btn btn-secondary link-to-page">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no tags</p>
  {% endif %}
{% endblock %}
